.carousel-slide {
    overflow: hidden;
}

.carousel-slide img {
    height: auto;
    width: 100%;
  }

.carousel-item {
    left: -25%;
    width: 150% !important;
}

.carousel-item>.row>.col {
    width: 33.33333% !important;
}
