.carousel-slide {
    overflow: hidden;
}

.carousel-slide img {
    height: 300px;
    width: 100%;
  }

.carousel-inner:before {
    position:absolute;
    top:0;
    bottom: 0;
    right: 90%;
    left: 0;
    content:"";
    display:block;
    background-color: #fff;
    z-index: 2;
}
.carousel-inner:after {
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 90%;
    content:"";
    display:block;
    background-color:#fff;
    z-index: 2;
}