@font-face {
  font-family: loweScriptIcons;
  src: url(./fonts/lowes-icons.woff);
}

.slick-prev {
  left: 0px;
}

.slick-next {
  right: 0px;
}

.slick-next,
.slick-prev {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.slick-next::before,
.slick-prev::before {
  font-family: loweScriptIcons;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.slick-slider .slick-next, .slick-slider .slick-prev {
  max-height: 80px;
  width: 35px;
  padding: 0 10px;
  position: absolute;
  display: block;
  height: 100%;
  line-height: 0;
  cursor: pointer;
  color: transparent;
  top: 30%;
  border: none;
  outline: 0;
  background: #0471AF;
  opacity: .9;
  z-index: 1;
}

.slick-slider .slick-next i {
  color: #FFF;
  font-size: 15px;
  font-size: 1.0714285714285714rem;
}

.slick-next:before {
  content: "\EDBB";
}

.slick-prev:before {
  content: "\EDC3";
}

.slick-dots li button:before {
  font-family: loweScriptIcons;
  font-weight: 400;
  font-size: 10px;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  content: "\42";
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #000;
  opacity: .4;
  -webkit-font-smoothing: antialiased;
}

.slick-dots button::selection, .slick-next button::selection {
  background: #0471AF;
  color: #FFF;
}