@import "./saleInfo.less";
@import "./slideImage.less";
@import "./slideInfo.less";

@font-face {
  font-family: loweScript;
  src: url("http://fec-lowes-carousel.us-east-2.elasticbeanstalk.com/dist/fonts/din-next.woff");
}

@font-face {
  font-family: loweScriptIcons;
  src: url("http://fec-lowes-carousel.us-east-2.elasticbeanstalk.com/dist/fonts/lowes-icons.woff");
}

body {
  font-family: loweScript;
}

.total-carousel-container {
  margin-bottom: 3rem;
  h2 {
    // font-size: 28px;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
  }
}
