// @import "./slick.less";
// @import "./slick-theme.less";
@import "./app.less";
@import "./carousel.less";
@import "./saleInfo.less";
@import "./slide.less";
@import "./slideImage.less";
@import "./slideInfo.less";

@font-face {
  font-family: loweScript;
  src: url(./fonts/din-next.woff);
}

@font-face {
  font-family: loweScriptIcons;
  src: url(./fonts/lowes-icons.woff);
}

body {
  font-family: loweScript;
}
