.slide-info {
  margin: 0.2rem 1rem;
  // h5 {
   
    // display: -webkit-box!important;
    // max-height: 60px;
    cursor: pointer;
    // @media (min-width: 768px) {
    //     display: -webkit-box;
    //     line-height: 1.42857143;
    //     -webkit-box-orient: vertical;
    //     -ms-text-overflow: ellipsis;
    //     -webkit-line-clamp: 3;
    //     transform: translateZ(0);
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //   }
    .fade {
      font-size: 1rem;
      margin-top: 15px!important;
      margin-bottom: 15px!important;
      font-weight: 700;
      position: relative;
      height: 3.6em; /* exactly three lines */
      overflow: hidden;
    }
    .fade:after {
      content: "";
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 45%;
      height: 1.2em;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    // }
  }
  .price-text, .review-stars, .small-text {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .price-text {
    font-size: 0.9rem;
    color: #333;
  }
  .review-stars {
    font-family: loweScriptIcons;
  }
  .small-text {
    font-size: 0.75rem;
    padding-left: 0.4rem;
  }
}

